{% extends 'Login/Signup.html' %}
{% load static %}
{% load widget_tweaks %} 

{% block login_block %}
<form method='POST'>
  {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label"
        >Email address</label
      >
      {{form.username|add_class:username_class}}
      {% comment %} <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div> {% endcomment %}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"
        >Password</label
      >
      {{ form.password|add_class:username_class }}
    </div>
    <div class="form-text my-2">
    Dont have an account yet? <a href="{% url 'App_Login:signup' %}">Create account Now!!! </a>  
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}