{% extends 'Base.html' %} {% load static %} {% block css_block %} {% endblock css_block %} {% block body_block %}

<div class="container" style="margin: auto; width: 80%; margin-top: 45px">
<div>
    <h4 style="margin-bottom:10px;">User List</h4>
    <ul class="list-group" style="width:75%;margin:auto;">
        {% for user in users %}
        <li class="list-group-item my-2" >
            <div class='row' style="align-items:center;padding:12px;">
                <div class='col-7' >
                    <a href="{% url 'App_Login:profile' user.user.id %}" style="display:flex;justify-items:center;text-decoration:none;list-style-type:none;color:black;cursor:pointer;" >
                    <img
                    src="{{ user.profile_pic.url }}"
                    alt=".."
                    class="rounded-circle border border-dark"
                    width="35"
                    height="35"
                  />
                  <p style="margin-left:5px;margin-bottom:0;">{{user.user.username}}</p>
                    </a>
                </div>
                <div class='col-5'>
                        {% if not user.is_following%}
                        <a type="button" class="btn btn-primary" href="{% url 'App_Login:follow' user.user.id %}">Follow</a>
                        {% endif%}
                        {% if user.is_following%}
                        <a type="button" class="btn btn-primary" href="{% url 'App_Login:unfollow' user.user.id %}">Unfollow</a>
                        {% endif%}
                </div>
            </div>
            
        </li>
        {% endfor %}

      </ul>
</div>
</div>



{% endblock body_block %}